<app-ca1></app-ca1>
<div class="card" [ngStyle]="{'position': 'absolute', 'top': '90px', 'left': '300px'}">
    
<div [ngStyle]="{'position': 'absolute', 'top': '40px', 'left': '60px'}">

    <div class="row">
        <div class="col centered-paragraph"><h2>General</h2></div>
        <div class="col centered-paragraph"><h4>Address</h4></div>
        <div class="col centered-paragraph"><h4>Contact</h4></div>
        <div class="col centered-paragraph"><h4>Others</h4></div>
        
    </div>
    
    
    
    <div class="row mt-5">
        <form action="" method="post">
         
            <div class="row mt-7">
                <div class="col-5"><h6 class="centered-paragraph">Centre's Name</h6></div>
                <div class="col-4"><input type="text" class="form-control "></div>
            </div>
            <div class="row mt-4">
                <div class="col-5"><h6 class="centered-paragraph">Location</h6></div>
                <div class="col-4"><input type="text" class="form-control"></div>
            </div>
            <div class="row mt-4">
                <div class="col-5"><h6 class="centered-paragraph">Phone number</h6></div>
                <div class="col-4"><input  type="text" class="form-control"></div>
            </div>
            <div class="row mt-4">
                <div class="col-5"><h6 class="centered-paragraph">City</h6></div>
                <div class="col-4"><input type="text" class="form-control"></div><br><br><br><br>
            </div>
            
                
                    
            <div class="progress">
                    
                <div class="progress-bar" style="width:25%; background: #FFA318;">
                <div class="progress-value">25%</div>
                </div>
            </div>
            
                
        
                <a  routerLink="/address"   class="btn" >Next</a><br>
    
        </form>
        
    
    </div>
    </div>

    <div class="container">
        <a aria-current="page" routerLink="/general"  id="b1" class="btnn" >1</a><br>
        <a aria-current="page" routerLink="/services" class="btnn"id="b2" >2</a><br>
        <a aria-current="page" routerLink="/account2" class="btnn" id="b3">3</a><br>
        <a aria-current="page" routerLink="/payment" class="btnn" id="b4">4</a><br>
        
    </div>





</div>