<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br> <br>
     <div class="container">
        <div class="row">
            <div class="col">
                <img src="../../assets/image/whypathfinder1.png" alt="">
            </div>
            <div class="col" id="par">
                <h4> ABOUT US</h4>
                <br> <br>
                <h2> PathFinder</h2>
                <br>
                <br>
                 <p> if you are a training center and want to  collaborate with us and promote your  course on our app please sign in and follow <br> the instruction below </p>
                 <br> <br> <br> <br>
                 <a routerLink="/general">
                    <button class="btn"> Click here</button>
                 </a>
                 
            </div>
        </div>
     </div>
</body>
</html>


