*
{
    background: rgba(255, 133, 35, 1);
    

}

.container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 15px;
  }

#par
{
    margin-top: 30px;
    margin-left: 200px;
}
h4
{
text-align:center;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 40px;
margin-right: 320PX;
text-align: center;


color: #F4F4F4
   
}
.btn
{
   
    height: 40px;
    width: 300px;
left: 1233.5px;
top: 454px;

background: #F1F1F1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 34px;

font-family: 'Jost';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 0px;
margin-bottom: 20px;
color: #131921;




}
h2
{
 
left: 955px;
top: 122px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 62px;
line-height: 80px;
/* or 129% */

letter-spacing: -0.03em;

color: #FFFFFF;



}
h2:hover
{
   
    border-radius: 85px;
    color:#101010
}
p{
    padding-left: 40px;
    font-family: 'Mako';
    font-style: normal;
    font-weight: 60;
    font-size: 25px;
    line-height: 40px;
    /* or 160% */
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    color: #131921;
    
background: rgba(255, 255, 255, 0.91);
border-radius: 10px;
padding-right:60px ;
}
img
{
    margin-top: 130px;
    width: 580px;
    height: 466px;
}

