<app-ca1></app-ca1>
<div class="card" [ngStyle]="{'position': 'absolute', 'top': '90px', 'left': '300px'}">
   
    <div class="row">
        <div class="col col-3">
            <div class="container">
                <a aria-current="page" routerLink="/general"  id="b1" class="btnn" >1</a><br>
                <a aria-current="page" routerLink="/services" class="btnn"id="b2" >2</a><br>
                <a aria-current="page" routerLink="/account2" class="btnn" id="b3">3</a><br>
                <a aria-current="page" routerLink="/payment" class="btnn" id="b4">4</a><br>
                
            </div>
        </div>
    
        <div class="col">
    
            <form action="" method="post">
         
           
                <h4 id="h">Tell us about your services</h4><br>
                <textarea  class="form-control" name="add-info" cols="80" rows="10"></textarea> 
                
                <a aria-current="page" routerLink="/account2"   class="btn" >Next</a><br>
                
            </form>
    
        </div>
    
    
    
    </div>
    
    
    
    </div>
