<app-ca1></app-ca1>
<div class="card" [ngStyle]="{'position': 'absolute', 'top': '90px', 'left': '300px'}">
   
    <div class="row">
        <div class="col col-3">
            <div class="container">
                <a aria-current="page" routerLink="/general"  id="b1" class="btnn" >1</a><br>
                <a aria-current="page" routerLink="/services" class="btnn"id="b2" >2</a><br>
                <a aria-current="page" routerLink="/account2" class="btnn" id="b3">3</a><br>
                <a aria-current="page" routerLink="/payment" class="btnn" id="b4">4</a><br>
                
            </div>
        </div>
    
        <div class="col"><form action="" method="post">
     
        <div class="row mt-7">
            <div class="col-4"><h6 class="centered-paragraph">Credit Card Type (Visa, MasterCard..)</h6></div>
            <div class="col-4"><input type="text" class="form-control "></div>
        </div>
        <div class="row mt-4">
            <div class="col-4"><h6 class="centered-paragraph">Credit Card Number</h6></div>
            <div class="col-4"><input type="number" class="form-control "></div>
        </div>
        <div class="row mt-4">
            <div class="col-4"><h6 class="centered-paragraph">Expiration Date</h6></div>
            <div class="col-4"><input id="min" type="date" class="form-control "></div>
            
        </div>
        <div class="row mt-4">
            <div class="col-4"><h6 class="centered-paragraph">Security Code</h6></div>
            <div class="col-4"><input type="number" class="form-control"></div>
        </div>
       
        <div class="row mt-4">
            <div class="col-4"><h6 class="centered-paragraph"> Donation Frequency</h6></div>
            <div class="col">
                <input type="checkbox" class="form-check-inline">One-time 
                <input type="checkbox" class="form-check-inline">Monthly 
                <input type="checkbox" class="form-check-inline">Yearly </div>
            </div>
        <div class="row mt-4">
            <div class="col-4"><h6 class="centered-paragraph">Amount</h6></div>
            <div class="col-4"><input type="number" class="form-control"></div>
        </div>


        
        <a aria-current="page" routerLink=""   class="btn" >Sign Up</a><br>
        
    </form>




</div>




