<app-ca1></app-ca1>
<div class="card" [ngStyle]="{'position': 'absolute', 'top': '90px', 'left': '300px'}">
   
    <div class="row">
        <div class="col col-3">
            <div class="container">
                <a aria-current="page" routerLink="/general"  id="b1" class="btnn" >1</a><br>
                <a aria-current="page" routerLink="/services" class="btnn"id="b2" >2</a><br>
                <a aria-current="page" routerLink="/account2" class="btnn" id="b3">3</a><br>
                <a aria-current="page" routerLink="/payment" class="btnn" id="b4">4</a><br>
                
            </div>
        </div>
    
        <div class="col">
    
            <form action="" method="post">
     
                <div class="row mt-7">
                    <div class="col-4"><h6 class="centered-paragraph">Training Name</h6></div>
                    <div class="col-4"><input type="text" class="form-control "></div>
                </div>
                <div class="row mt-4">
                    <div class="col-4"><h6 class="centered-paragraph">Training Description</h6></div>
                    <div class="col-4"> <textarea name="description" class="form-control" id="" cols="30" rows="1"></textarea></div>
                </div>
                <div class="row mt-4">
                    <div class="col-4"><h6 class="centered-paragraph">Training Duration</h6></div>
                    <div class="col"><input id="min"  type="number" class="form-control form-check-inline">Number of Days</div>
                    
                    <div class="col"> <input id="min"  type="number" class="form-control form-check-inline">Number of Hours</div>
                    
                </div>
                <div class="row mt-4">
                    <div class="col-4"><h6 class="centered-paragraph">Currency</h6></div>
                    <div class="col"><input id="min" type="date" class="form-control form-check-inline">Training Start Date </div>
                    <div class="col"><input id="min" type="date" class="form-control form-check-inline">Training End Date</div>
                </div>
                <div class="row mt-4">
                    <div class="col-4"><h6 class="centered-paragraph">Training Price</h6></div>
                    <div class="col-4"><input type="number" class="form-control"></div>
                </div>
               
                <div class="row mt-4">
                    <div class="col-5"><h6 class="centered-paragraph">Training Type</h6></div>
                    <div class="col-4"><input type="checkbox" class="form-check-inline">Online <input type="checkbox" class="form-check-inline"> In-person</div>
                </div>
                <div class="row mt-4">
                    <div class="col-4"><h6 class="centered-paragraph">Training Image</h6></div>
                    <div class="col-4"><input type="file" class="form-control"></div>
                </div>


               <div class="row">
                
               </div>
                <a aria-current="page" routerLink="/account2"   class="btn btn1" >Add Training</a>
                <a aria-current="page" routerLink="/payment"   class="btn btn2" >Next</a><br>
            
            </form>
    
        </div>
    
    
    
    </div>
